<div ng-cloak ng-show="!model.ready">
	<p>Loading Trello data, please wait...</p>
</div>

<div ng-show="model.ready">

	<h5>Filters:</h5>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Card Name" ng-model="search.name">
		<input type="text" class="form-control" placeholder="List Name" ng-model="search.list">
	</div>

	<hr/>
	
</div>

<div ng-show="model.ready">
	
	<div >
		<h5>
			Cards for the "{{model.data.name}}" Board
		</h5>

		<ul ng-repeat="card in model.data.cards | filter:onFilter(search) | orderBy:sortProp:sortRev">
			<li>
				<h4><span ng-class="{'inactive':'label label-default', 'waiting':'label label-warning', 'doing':'label label-primary', 'testing':'label label-danger', 'done':'label label-success'}[card.state]">{{card.list.name}}</span><a href="{{card.url}}" target="_blank" tooltip-html-unsafe="{{card.descHtml}}" tooltip-trigger="mouseenter"> {{card.name}}</a></h4>
				<p><span ng-repeat="item in card.timeline | filter:{type:'range'} | limitTo: 1 | orderBy:start:true">'{{item.content}}' since {{item.calendar}} ({{item.duration}})</span></p>
				<p>Schedule: <span ng-repeat="schedule in card.schedule">{{schedule.nameDate}} &raquo; </span><span ng-hide="card.dueDate == null">Due: {{card.dueDate}}</span></p>
				<p><small>History: <span ng-repeat="item in card.timeline | filter:{type:'range'}}">'{{item.content}}' for {{item.duration}}, {{item.calendar}} &raquo; </span></small></p>
				<br/>

				<!-- <button popover="I appeared on mouse enter!" popover-trigger="mouseenter" class="btn btn-default">Mouseenter</button> -->

				<!-- <small><span ng-repeat="bar in card.progressBar">{{bar.name}} for {{bar.duration}}, </span>and that's it!</small>
				<br/> -->

				<!-- <p class="lead">{{card.list.name}}: <span ng-repeat="schedule in card.schedule"><span class="label label-warning">{{schedule.nameDate}}</span> </span><span class="label label-primary">Due: {{card.dueDate}}</span> <a href="{{card.url}}" target="_blank">{{card.name}}</a></p><br/>
				<p><span ng-repeat="bar in card.progressBar">"{{bar.name}}": {{bar.duration}} </span></p> -->
				<!-- <progress style="width:300px"><bar ng-repeat="bar in card.progressBar" value="bar.value" type="{{bar.type}}"><span ng-hide="bar.value < 10">{{bar.name}}</span></bar></progress> -->
				<!-- <div vis-timeline data="card.timeline" options="card.timelineOptions"></div> -->
			</li>
		</ul>
	</div>

</div>