<div ng-cloak ng-show="!model.ready">
	<p>Loading Trello data, please wait...</p>
</div>

<div ng-show="model.ready">

	<h5>Filters:</h5>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Card Name" ng-model="search.name">
	</div>

	<hr/>
	
</div>

<div ng-show="model.ready">
	
	<div >
		<h5>QA Cards from all boards</h5>

		<ul ng-repeat="card in model.table.cards | filter:onFilter(search) | orderBy:sortProp:sortRev">
			<li>
				<span ng-repeat="schedule in card.schedule"><span class="label label-warning">{{schedule}}</span> </span><span class="label label-primary">{{card.due}}</span> <a href="{{card.url}}" target="_blank">{{card.name}}</a>
				<div id="graph" vis-graph data="card.timeLine.data" options="card.timeLine.options" event="select" callback="onTimeLineCallback(params)" style="width: 300px; height: 50px">{{card.timeLine.data}}</div>
			</li>
		</ul>
	</div>

</div>