<div ng-cloak ng-show="!model.ready">
	<p>Loading Trello data, please wait...</p>
</div>

<div ng-show="model.ready">
	
	<div class="large-9 small-6 columns">
		<h3>
			{{model.table.board.name}}
		</h3>
		<p ng-show="model.table.board.desc.length > 0"
			ng-bind-html-unsafe="descToHtml(model.table.board.desc, 'trelloTag')">
		</p>
		<p>
			<a href="{{model.table.board.url}}" target="_blank">
				View this board at Trello.com >
			</a>
		</p>
	</div>
	
</div>

<div ng-show="model.ready">
	
	<hr/>
	
	<div>
		<h5>
			Table Filters:
		</h5>
	</div>
	
	<div>
		<input type="text" placeholder="List Name" ng-model="search.list">
	</div>
	
	<div>
		<input type="text" placeholder="Card Name" ng-model="search.name">
	</div>
	
	<div>
		<input type="text" placeholder="Tag Name" ng-model="search.tag">
	</div>
	
	<hr/>
	
</div>

<div ng-show="model.ready">
	
	<div >
		<h5>
			Cards for the "{{model.table.board.name}}" Board
		</h5>

		<ul ng-repeat="card in model.table.cards | filter:onFilter(search) | orderBy:sortProp:sortRev">
			<li>
				{{card.name}}, due:{{card.due}}
			</li>
		</ul>
	</div>

</div>