<div class="jumbotron">
	<h1>Livestream Trello Manager</h1>
	<p>This is a work-in-progress so I can more easily get to the data I need inside Trello, often spread across multiple boards (built using Angular.js and Bootstrap.css, and based on <a href="http://aestheticinteractive.github.io/TrelloVision" class="btn btn-primary btn-lg" role="button">TrelloVision</a> by Aesthetic Interactive). Please note: Trello Manager will try to authenticate your Trello account before making any API calls (it won't work without this step).</p>
	<p><a href="#overview" class="btn btn-primary btn-lg" role="button">Overview &raquo;</a><a href="#listcardtable" class="btn btn-primary btn-lg" role="button">QA Cards &raquo;</a></p>
</div>
