<div ng-show="!model.ready" class="wait">
	<h1>Loading Trello data, please wait...</h1>
</div>

<div ng-cloak ng-show="model.ready">

	<div >
		<a href="{{model.data.url}}">{{model.data.fullName}}</a>
	</div>
	
	<div>
		
		<div>
			<h3>My Boards</h3>

			<ul>
				<li ng-repeat="board in model.data.boards | filter:{idOrganization:'!'}">
					<a href="#/cardtable/board/{{board.id}}" target="_self">{{board.name}}</a>
				</li>
			</ul>
		</div>

		<div ng-repeat="org in model.data.organizations">
			<h3>{{org.displayName}}</h3>

			<ul>
				<li ng-repeat="board in model.data.boards | filter:{idOrganization: org.id}">
					<a href="#/cardtable/board/{{board.id}}" target="_self">{{board.name}}</a>
				</li>
			</ul>
		</div>

		<a href="#/qacardtable" target="_self">QA Cards</a>
		
	</div>

</div>
